.gallery {
  margin-top: 51px;
}

.gallery__cards {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 17px 20px;
}

@media screen and (max-width: 320px) {
  .gallery {
    min-width: 282px;
    justify-content: center;
    margin-left: 19px;
  }
  .gallery__cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
  }
}
