.profile {
  display: grid;
  grid-template-areas: "left center right";
  grid-template-columns: 0.5fr 1.5fr 1fr;
  min-width: 282px;
}

.profile__avatar {
  border-radius: 50%;
  margin-top: 36.25px;
  max-width: 168.75px;
  max-height: 127.5px;
}

.profile__title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  margin-right: 18px;
  margin-top: 62px;
  margin-bottom: 0;
}

.profile__subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 16px;
  margin-bottom: 0;
}

.profile__edit {
  margin-top: 77px;
}

.profile__edit-square {
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.profile__edit-square:hover {
  opacity: 0.6;
}

.profile__icon-pencil {
  margin: 7px;
}

.profile__add {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 75px;
}

.profile__add-rectangle {
  border: 2px solid #fff;
  border-radius: 2px;
  width: 146px;
  height: 46px;
  background-color: transparent;
}

.profile__add-rectangle:hover {
  opacity: 0.6;
}

.profile__left {
  grid-area: left;
  display: flex;
  justify-content: flex-start;
  margin-right: 30px;
}

.profile__center {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  grid-area: center;
}

.profile__right {
  grid-area: right;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
  }

  .profile__title {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    margin-top: 26px;
    margin-left: 43px;
  }

  .profile__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .profile__edit {
    margin-top: 26px;
  }

  .profile__edit-square {
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
  }

  .profile__icon-pencil {
    margin-left: auto;
    margin-right: auto;
  }

  .profile__add {
    margin-top: 36px;
  }

  .profile__add-rectangle {
    width: 282px;
  }

  .profile__left {
    margin: auto;
  }

  .profile__center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-template-columns: 0.5fr 2fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 779px;
  }

  .profile__title {
    margin-right: 18px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1500px) {
  .profile {
    max-width: 880px;
  }
}
